* {
  margin: 0;
  padding: 0;
  font-family: "Inclusive Sans", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    149deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 43, 130, 1) 41%,
    rgba(7, 101, 255, 1) 100%
  );
  color: #fff;
  position: relative;
}

.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
}

.container::before {
  content: "";
  width: 180px;
  height: 180px;
  background: #f41b75;
  /* border-radius: 5px; */
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
  animation: random1 60s linear infinite alternate both;
}

.container::after {
  content: "";
  width: 180px;
  height: 180px;
  background: #319aff;
  /* border-radius: 50%; */
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
  animation: random2 120s linear infinite alternate-reverse both;
}

.clock span {
  font-weight: 700;
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after {
  content: "Hours";
}
#min::after {
  content: "Minutes";
}
#sec::after {
  content: "Seconds";
}

@media screen and (max-width: 900px) {
  .container {
    width: 600px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
  }
}

@keyframes random1 {
  0% {
    border-radius: 100px 50px 30px 5px;
  }

  25% {
    border-radius: 50px 20px 100px 30px;
  }

  50% {
    border-radius: 15px 50px 30px;
  }

  75% {
    border-radius: 15px 50px 30px 100px;
  }

  100% {
    border-radius: 15px 50px 30px 5px;
  }
}

@keyframes random2 {
  0% {
    border-radius: 100px 100px 100px 100px;
  }

  25% {
    border-radius: 50px 20px 100px 30px;
  }

  50% {
    border-radius: 50px 50px 30px;
  }

  75% {
    border-radius: 15px 50px 30px 100px;
  }

  100% {
    border-radius: 15px 50px 30px 100px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 180px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(40px);
  }

  #dot {
    display: none;
  }

  .container::after {
    content: "";
    width: 180px;
    height: 180px;
    background: #319aff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -30px;
    z-index: -1;
  }

  .clock span::after {
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    bottom: 70px;
    right: 50%;
    transform: translateX(60px) rotate(90deg);
  }
}
